*-checkpoint.ipynb
*.pyc

data/random_bitstrings/*
data/random_program_execution/*
data/QASMBench/*
data/nisq_qasm/*

data/MVP/*
data/experiment_v00/*
data/experiment_v01/*
data/experiment_v02/*
data/circuit_image/*