*-checkpoint.ipynb
*.pyc

data/random_bitstrings/*
data/random_program_execution/*
data/QASMBench/*
data/nisq_qasm/*

data/MVP/*
data/experiment_v00/*
data/experiment_v01/*
data/experiment_v02/*
data/experiment_v03/*
data/experiment_v04/*
data/experiment_v05/*
data/experiment_v06/*
data/experiment_v07/*
data/experiment_v08/*
data/experiment_v09/*
data/circuit_image/*
data/dd_v00/*
notebooks/qconvert_tmp_cache/*
*.log.txt
node_converter/node_modules/*
afl/AFL/*
afl/output/*