*-checkpoint.ipynb
*.pyc

venv/*
old-venv/*
venv*
conda*

data/experiments_dev_cycle_1/*

data/random_bitstrings/*
data/random_program_execution/*
data/QASMBench/*
data/nisq_qasm/*

data/MVP/*
data/experiment_v00/*
data/experiment_v01/*
data/experiment_v02/*
data/experiment_v03/*
data/experiment_v04/*
data/experiment_v05/*
data/experiment_v06/*
data/experiment_v07/*
data/experiment_v08/*
data/experiment_v09/*
data/experiment_v10/*
data/experiment_v11/*
data/experiment_v12/*
data/qfl_v00/*
data/qfl_v01/*
data/qfl_v02/*
data/qfl_v03/*
data/qfl_v04/*

data/fuzzying_via_notebook/nb29/*
warnings/old_sample_distribution_differences

data/circuit_image/*
data/static_code_analysis/*


data/dd_v00/*
notebooks/qconvert_tmp_cache/*
*.log.txt
node_converter/node_modules/*
afl/AFL/*
afl/output/*

warnings/program_pairs/non_deterministic_cswap/result.json

data/qmt_v00/*
data/qmt_v01/*
data/qmt_v02/*
data/qmt_v03/*
data/qmt_v04/*
data/qmt_v05/*
data/qmt_v06/*
data/qmt_v07/*
data/qmt_v08/*
data/qmt_v09/*
data/qmt_v10/*
data/qmt_v11/*
data/qmt_v12/*
data/qmt_v13/*
data/qmt_v14/*
data/qmt_v15/*
data/qmt_v16/*
data/qmt_v17/*
data/qmt_v18/*
data/qmt_v19/*
data/qmt_v20/*
data/qmt_v21/*
data/qmt_v22/*



data/qmt_v21/
data/qmt_v22/
data/qmt_v23/
data/qmt_v24/
data/qmt_v25/
data/qmt_v26/
data/qmt_v30/
data/qmt_v31/
data/qmt_v32/
data/qmt_v33/
data/qmt_v34/
data/qmt_v35/
data/qmt_v36/
data/qmt_v37/
data/qmt_v38/
data/qmt_v39/
data/qmt_v40/
data/qmt_v41/
data/qmt_v42/
data/qmt_v43/
data/qmt_v44/
data/qmt_v45/
data/qmt_v46/
data/qmt_v47/
data/qmt_v48/
data/qmt_v49/
data/qmt_v51/
data/qmt_v50/
data/qmt_v52/
data/qmt_v53/
data/qmt_v54/